<!DOCTYPE html>
<html>
<head>
    <title>Descrição da Minha Aplicação</title>
    <!-- Adicione a meta tag abaixo para garantir que o Bootstrap funcione corretamente em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <p>Em construção!</p>
    </div>
    <!-- Link para o JavaScript do Bootstrap (opcional, mas recomendado) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
