<!DOCTYPE html>
<html>
<head>
    <title>Descrição da Minha Aplicação</title>
    <!-- Adicione a meta tag abaixo para garantir que o Bootstrap funcione corretamente em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Minha Loja Backend</h1>
            <p class="lead">Seja Bem-vindo a esta aplicação! Sendo um desenvolvedor focado no Backend, a aplicação foi criada para mostrar funcionalidades do backend, não do 
                front. Contudo, foram adicionadas algumas páginas para que o usuário pudesse testar tais funcionalidades.:</p>
        </div>
        
        <div class="card mb-3">
            <div class="card-header">
                <h2>Funcionalidades Principais:</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sistema de Carrinho de Compras: Os usuários podem adicionar produtos ao carrinho e realizar compras.</li>
                    <li class="list-group-item">Cadastro de Pessoas: Os usuários podem se cadastrar na plataforma e realizar compras.</li>
                    <li class="list-group-item">Cadastro de Produtos: Administradores podem adicionar e gerenciar os produtos disponíveis na loja.</li>
                    <li class="list-group-item">Diferenciação de Poder entre Admin e Usuários: Administradores têm acesso a recursos adicionais e permissões que usuários normais não têm.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Recursos Futuros:</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Controle de Estoque: Implementar um sistema de controle de estoque para gerenciar a disponibilidade dos produtos.</li>
                    <!-- Adicione aqui outras funcionalidades futuras -->
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Ferramentas:</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">FastAPI: A aplicação foi criada usando o fastAPI em Python e roda em uvicorn.</li>
                    <li class="list-group-item">SQLite: Para simplificar, o banco de dados foi criado usando o SQLite.</li>
                    <li class="list-group-item">SQLAlchemy: Como ORM estou usando o SQLAlchemy, tanto para facilitar a troca de banco de dados futuramente,
                        quanto para aumentar a camada de segurança.
                    </li>
                    <li class="list-group-item">Criptografia: Será adicionada uma camada de criptografia para que os dados sejam armazenados criptografados.</li>
                    <!-- Adicione aqui outras funcionalidades futuras -->
                </ul>
            </div>
        </div>

        <div class="alert alert-info" role="alert">
            <p>Espero que você curta o projeto e que ele possa ser útil de alguma forma!</p>
        </div>
    </div>
    <!-- Link para o JavaScript do Bootstrap (opcional, mas recomendado) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
